.form-popup {
    width: 500px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: 1200;
}

.form-field, h4 {
    display: block;
    max-width: 75%;
    margin: auto;
}

h4 {
    font-weight: 2;
    margin-bottom: 20px;
}

.buttons {
    margin: 0;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button {
    margin: 5px;
}

.save {
    background-color: #64FFDA;
}

.clear {
    background-color: #009688;
    color: white;
}
