<div>

  <h1>Đổi mật khẩu</h1>

  <form [formGroup]="passwordForm" (ngSubmit)="onSave()">

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Mật khẩu cũ</mat-label>
      <input type="password" matInput formControlName="oldPassword" required>
      <mat-error>Vui lòng nhập mật khẩu cũ</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Mật khẩu mới</mat-label>
      <input type="password" matInput formControlName="newPassword" required>
      <mat-error>Vui lòng nhập mật khẩu mới</mat-error>
    </mat-form-field>


    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Xác nhận mật khẩu</mat-label>
      <input type="password" matInput formControlName="confirm" required>
      <mat-error>Mật khẩu không trùng khớp</mat-error>
    </mat-form-field>

  <div class="buttons">
    <button mat-raised-button type="submit" class="save" (click)="onSave()" [disabled]="!passwordForm.valid">Lưu</button>
    <button mat-raised-button type="button" class="clear" (click)="onClear()">Làm mới</button>
  </div>

</form>

</div>